/*--------------*\
    Boxes Section
\*--------------*/
.flow_item{
    text-align: center;
    span{
        max-width: 180px;
        max-height: 180px;
        display: inline-block;
        border-radius: 60px;
    }
    h6{
        margin: 42px 0 25px;
        font-weight: 600;
        color: #393459;
    }
    p{
        font-size: 12px;
        font-family: 'URW Gothicc';
    }
}


.article{
    background-color: #f4f8f8;
    padding: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    h4{
        font-size: 24px;
        margin-bottom: 23px;
        color: #2f2f2f;
        font-family: "URW Gothicc";
    }
    p{
        color: #484848;
        font-family: "URW Gothicc";
    }
    h5{
        font-size: 14px;
        color: #7c7c7c;
        padding-bottom: 13px;
        border-bottom: 1px solid #7c7c7c;
        margin-top: 40px;
        font-family: "URW Gothicc";
    }
    ul{
        margin-top: 20px;
        li{
            display: flex;
            align-items: center;
            color: #484848;
            margin-bottom: 30px;
            font-family: "URW Gothicc";
            span{
                display: inline-block;
                margin-right: 20px;
                width: 30px;
                height: 30px;
                border: 1px solid;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                background: white;
                i{
                    color: #7c7c7c;
                    font-size: 40px;
                }
            }
        }
    }
}

.blogs{
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    // &:before{
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba(0,0,0,0.3);
    // }
    .blog_thumb{
        min-height: 450px !important;
      img {
            min-height: 450px;
            object-fit: cover;
            object-position: center left;
        }
    }
    .blogs_content{
        position: absolute;
        top: 24px;
        left: 24px;
        h4{
            color: white;
            font-size: 24px;
            margin-bottom: 20px;
            font-family: "URW Gothicc";
        }
        p{
            color: #ffffff;
            margin-bottom: 27px;
            font-family: "URW Gothicc";
        }
        .blog_link{
            padding: 12px 25px;
            font-size: 18px;
            font-weight: bold;
            color: white;
            border-radius: 8px;
            background-color: #22393d;
            width: fit-content;
            &:hover{
                text-decoration: none;
            }
        }

    }
}
.phone_icon{
    border: 1px solid white;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    background-color: #354447;
    display: flex !important;
    align-items: center;
    justify-content: center;
}